<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Boards</title>
</head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(boards)}">
        <h2>Board List</h2>
        <table class="table table-striped">
            <tr>
                <th>내용</th>
                <th>추천수</th>
                <th>추천</th>
                <th>보기</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <tr th:each="board : ${boards}">
                <td th:text="${board.description}"><a href="/board/${board.id}">Description</a></td>
                <td th:text="${board.likeCount}">likeCount</td>
                <td><a th:href="${'/boards/eval/' + board.id}">추천</a></td>
                <td><a th:href="${'/board/' + board.id}">보기</a></td>
                <td><a th:href="${'/board/edit/' + board.id}">수정</a></td>
                <td><a th:href="${'/board/delete/' + board.id}">삭제</a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>