<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>comments</title>
</head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>소프트웨어 공학</h2>
                <p>교수 : 변상용</p>
                <p>전공 : 컴퓨터공학과 3학년</p>
                <p>학점 : 3학점</p>
                <p>꿀 농도 : 1.5 학습 농도 : 2.7</p>
            </div>
        </div>
        <div class="row text-center">
            <img src="../../static/images/softengineer.jpg" width="400"
                 th:src="@{/images/softengineer.jpg}"/>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(comments)}">
        <h2>comment List</h2>
        <table class="table table-striped">
            <tr>
                <th>내용</th>
                <th>추천수</th>
                <th>추천</th>
                <th>보기</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.description}"><a href="/comment/${comment.id}">Description</a></td>
                <td th:text="${comment.likeCount}">likeCount</td>
                <td><a th:href="${'/comments/eval/' + comment.id}">추천</a></td>
                <td><a th:href="${'/comment/' + comment.id}">보기</a></td>
                <td><a th:href="${'/comment/edit/' + comment.id}">수정</a></td>
                <td><a th:href="${'/comment/delete/' + comment.id}">삭제</a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>