<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/comments}">comment</a></li>
                        <li><a href="#" th:href="@{/comments/new}">Write</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>소프트웨어 공학</h2>
                    <p>교수 : 변상용</p>
                    <p>전공 : 컴퓨터공학과 3학년</p>
                    <p>학점 : 3학점</p>
                    <p>꿀 농도 : 1.5 학습 농도 : 2.7</p>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/softengineer.jpg" width="400"
                     th:src="@{/images/softengineer.jpg}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>